::ng-deep :root {
  --link-to-log-in-page-text-color: #459fed;
  --btn-to-sign-up-color: #3899ec;
}

a {
  color: var(--link-to-log-in-page-text-color);
  text-decoration: none;
}

.container--for-page-description {
  display: block;
  text-align: center;
  font-size: 2.2rem;
}

.header--for-registration-page {
  padding-top: 6.25rem;
}

.paragraph--to-question-about-acc {
  font-size: 1.25rem;
}

.col-center {
  float: none;
  margin: 0 0;
}

.mat-form-field {
  width: 100%;
}

.button--to-sign-up {
  width: 3.125rem;
  color: var(--btn-to-sign-up-color);
  box-shadow: inset 0 0 0 0.0625rem var(--btn-to-sign-up-color);
}

.mat-raised-button {
  min-width: 5.625rem;
}
