<div class="title1">
  <h2>Sign Up</h2>
  <p class="title2">Already have an account? <a routerLink="/login">Log in</a></p>
  </div>
<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Enter your email" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Enter your username" [formControl]="username" required>
    <mat-error *ngIf="username.invalid">{{getUsernameErrorMessage()}}</mat-error>
  </mat-form-field>
  <br>


  <mat-form-field>
    <input matInput placeholder="Enter your password" [type]="!hide ? 'password' : 'text'"
           [formControl]="passwordConfirm" required>
    <mat-error>{{getPasswordMatchErrorMessage()}}</mat-error>
    <mat-icon matSuffix (click)="hide = !hide">{{!hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    <mat-error *ngIf="passwordConfirm.invalid">{{getPasswordErrorMessage()}} </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Re-enter your password" [type]="!hide1 ? 'password' : 'text'" [formControl]="password"
           required>
    <mat-error *ngIf="password.invalid">{{getPasswordMatchErrorMessage()}}</mat-error>
    <mat-icon matSuffix (click)="hide1 = !hide1">{{!hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>
  <br>
  <button mat-raised-button class="sign-up-button" (click)="signUp()">Sign up</button>

  <br>
</div>

