<button mat-raised-button class="deeds-page--add-deed--btn" (click)="addNewDeed()">Register New Deed</button>
<div class="tab-of-good-deeds">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab class="mat-tab-deeds" label="All good deeds">
      <mat-accordion *ngFor="let deed of deeds" class="container">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title class="deeds-page--title--header">
              {{deed.name}}
            </mat-panel-title>
            <mat-panel-description>
              <mat-icon *ngIf="deed.category.name === 'Help for elderly'">supervised_user_circle</mat-icon>
              <mat-icon *ngIf="deed.category.name === 'Help for kids'">child_care</mat-icon>
              <mat-icon *ngIf="deed.category.name === 'Help for animals'">pets</mat-icon>
              <mat-icon *ngIf="deed.category.name === 'Help for environment'">nature_people</mat-icon>
              <mat-icon *ngIf="deed.category.name === 'Other'">more-horiz</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item class="deeds-page--contact--header">
              <mat-icon>description</mat-icon>
              Description:
            </mat-list-item>
            <mat-list-item id="deeds--page--deed--field">
              {{deed.description}}
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="deeds-page--contact--header">
              <mat-icon>place</mat-icon>
              Location:
            </mat-list-item>
            <mat-list-item class="deeds--page--deed--field">
              {{deed.location}}
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="deeds-page--contact--header">
              <mat-icon>call</mat-icon>
              Contact information:
            </mat-list-item>
            <mat-list-item class="deeds--page--deed--field">Name: {{deed.contact.name}}</mat-list-item>
            <mat-list-item class="deeds--page--deed--field">Email: {{deed.contact.email}}</mat-list-item>
            <mat-list-item class="deeds--page--deed--field">Phone number: {{deed.contact.phone}}</mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item class="deeds-page--contact--header">
              <mat-icon>people</mat-icon>
              Participants:
            </mat-list-item>
            <!--<mat-list-item class="deeds&#45;&#45;page&#45;&#45;deed&#45;&#45;field" *ngIf="deed.teamLeadId !== null">Team lead:</mat-list-item>-->
            <mat-list-item *ngFor="let user of deed.users"
                           class="deeds--page--deed--field">
              {{user.username}}
            </mat-list-item>
            <mat-list-item class="deeds-page--contact--header" *ngIf="deed.teamLeadId !== null">
              <mat-icon>stars</mat-icon>
              Team lead: &nbsp;
              <div *ngFor="let user of deed.users">
                <div *ngIf="user.id === deed.teamLeadId" [ngStyle]="{'color' : deed.teamLeadId === user.id ? '#3f51b5' : 'black'}">
                  {{user.username}}
                </div>
              </div>
            </mat-list-item>
            <div class="deeds--page--participate--btn-wrapper">
              <button mat-raised-button class="deeds--page--deed--btn" (click)="registerSolo(deed)" *ngIf="!deed.closed">Participate as solo
              </button>
              <button mat-raised-button class="deeds--page--deed--btn" (click)="openTeamRegistration(deed)" *ngIf="!deed.closed">Participate as
                team
              </button>
            </div>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-tab>
    <mat-tab class="mat-tab-deeds" label="Active good deeds">
      <mat-accordion *ngFor="let deed of deeds" class="container">
        <mat-expansion-panel *ngIf="!deed.closed">
          <mat-expansion-panel-header class="deeds-display-header">
            <mat-panel-title class="deeds-page--title--header">
              {{deed.name}}
            </mat-panel-title>
            <mat-panel-description>
              <mat-icon *ngIf="deed.category.name === 'Help for elderly'">supervised_user_circle</mat-icon>
              <mat-icon *ngIf="deed.category.name === 'Help for kids'">child_care</mat-icon>
              <mat-icon *ngIf="deed.category.name === 'Help for animals'">pets</mat-icon>
              <mat-icon *ngIf="deed.category.name === 'Help for environment'">nature_people</mat-icon>
              <mat-icon *ngIf="deed.category.name === 'Other'">more-horiz</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item class="deeds-page--contact--header">
              <mat-icon>description</mat-icon>
              Description:
            </mat-list-item>
            <mat-list-item class="deeds--page--deed--field">
              {{deed.description}}
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="deeds-page--contact--header">
              <mat-icon>place</mat-icon>
              Location:
            </mat-list-item>
            <mat-list-item class="deeds--page--deed--field">
              {{deed.location}}
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="deeds-page--contact--header">
              <mat-icon>call</mat-icon>
              Contact information:
            </mat-list-item>
            <mat-list-item class="deeds--page--deed--field">Name: {{deed.contact.name}}</mat-list-item>
            <mat-list-item class="deeds--page--deed--field">Email: {{deed.contact.email}}</mat-list-item>
            <mat-list-item class="deeds--page--deed--field">Phone number: {{deed.contact.phone}}</mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item class="deeds-page--contact--header">
              <mat-icon>people</mat-icon>
              Participants:
            </mat-list-item>
            <mat-list-item class="deeds--page--deed--field" *ngIf="deed.teamLeadId !== null">Team lead:</mat-list-item>
            <mat-list-item *ngFor="let user of deed.users"

                           class="deeds--page--deed--field">
              {{user.username}}
            </mat-list-item>
            <div class="deeds--page--participate--btn-wrapper">
              <button mat-raised-button class="deeds--page--deed--btn" (click)="loginUser()">Participate as solo
              </button>
              <button mat-raised-button class="deeds--page--deed--btn" (click)="openTeamRegistration()">Participate as team
              </button>
            </div>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-tab>
  </mat-tab-group>
</div>
