<div class="col">
    <h2 mat-dialog-title class="deed-registration-dialog--header--title col-center">Register a good deed!</h2>
    <mat-dialog-content>
      <mat-form-field class="col">
        <input matInput placeholder="Name *" [formControl]="name">
        <mat-error *ngIf="name.invalid">{{getNameErrorMessage()}}</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="col">
        <mat-label>Description *</mat-label>
        <textarea matInput
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="2"
                  cdkAutosizeMaxRows="5" [formControl]="description"></textarea>
        <mat-error *ngIf="description.invalid">{{getDescriptionErrorMessage()}}</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="col-md-6">
        <mat-select placeholder="Category" required [formControl]="selectedCategory">
          <mat-option matInput *ngFor="let cat of categories" [value]="cat.value">
            {{cat.viewValue}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="selectedCategory.hasError('required')">{{getDropdownErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="col-md-6">
        <input matInput placeholder="Location *" [formControl]="location">
        <mat-error *ngIf="location.invalid">{{getLocationErrorMessage()}}</mat-error>
      </mat-form-field>
      <br>
      <h2 mat-dialog-title class="col">Contact information:</h2>
      <mat-form-field class="col-md-4">
        <input matInput placeholder="Name *" [formControl]="contactName">
        <mat-error *ngIf="contactName.invalid">{{getContactNameErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="col-md-4">
        <input matInput placeholder="Email *" [formControl]="contactEmail">
        <mat-error *ngIf="contactEmail.invalid">{{getContactEmailErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="col-md-4">
        <span matPrefix>+370 &nbsp;</span>
        <input matInput placeholder="Mobile phone *" [formControl]="contactTelephoneNo">
        <mat-error *ngIf="contactTelephoneNo.invalid">{{getContactTelephoneNoErrorMessage()}}</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="col-md-6">
        <mat-select placeholder="Participation" required [formControl]="selectedParticipationType">
          <mat-option matInput *ngFor="let part of participationChoices" [value]="part.value">
            {{part.viewValue}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="selectedParticipationType.hasError('required')">{{getDropdownErrorMessage()}}</mat-error>
      </mat-form-field>
      <br>
      <mat-checkbox class="col" *ngIf="selectedParticipationType.value === '1'" (click)="assignCaptainToggle($event)">Assign me as a captain</mat-checkbox>
      <div *ngIf="selectedParticipationType.value === '2'">
        <span *ngFor="let form of usernameFormControlList">
          <mat-form-field class="col-md-6" appearance="outline">
          <input matInput placeholder="Username" [formControl]="form">
          <mat-hint>Team member username</mat-hint>
        </mat-form-field>
        <mat-icon matSuffix (click)="deleteNewUsername(form)">clear</mat-icon>
        </span>
      </div>
      <button mat-stroked-button *ngIf="selectedParticipationType.value === '2'" (click)="addNewUsername()">Add</button>
      <br *ngIf="selectedParticipationType.value === 'Participate as team'">
      <label class="col" *ngIf="selectedParticipationType.value === '2'">You will be automatically assigned as a team captain</label>
      <section #error>
        <label class="col deeds-registration-dialog-error-message" *ngIf="isErrorPresent">{{errorMessage}}</label>
      </section>
      <!--<label class="col deeds-registration-dialog-error-message" *ngIf="isErrorPresent">{{errorMessage}}</label>-->
    </mat-dialog-content>
    <mat-dialog-actions>
      <button class="mat-raised-button" (click)="close()">Close</button>
      <button mat-raised-button class="deed-registration-dialog--register--btn col-center"(click)="save()">Register</button>
    </mat-dialog-actions>
</div>

