a {
  color: #459fed;
  text-decoration: none;
}

.title1 {
  display: block;
  text-align: center !important;
  font-size: 35px;
}

.title1 > * {
  padding-top: 100px;
}

.title2 {
  font-size: 20px;
  padding-top: 0px !important;
}

.example {
  display: block;
  text-align: center;
}

.example > * {
  width: 30%;
  top: 0px;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

.Log-in-button {
  width: 50px !important;
  color: #3899ec;
  box-shadow: inset 0 0 0 1px #3899ec;
}

.backend-error-message {
  width: 50px;
}

.mat-raised-button {
  min-width: 90px;
}
