<div class="title1">
  <h2>Log in</h2>
  <p class="title2">New to "Good summer deeds? <a routerLink="/registration">Sign up</a></p>
</div>
<div class="example">
  <mat-form-field>
    <input matInput placeholder="Enter your username" [formControl]="username" required>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Enter your password" [type]="!hide2 ? 'password' : 'text'" [formControl]="password">
    <mat-icon matSuffix (click)="hide2 = !hide2">{{!hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>
  <br>
  <button mat-raised-button class="Log-in-button" (click)="LogIn()">Log in</button>

  <br>
</div>
