::ng-deep :root {
  --link--sign-up-page--text-color: #459fed;
  --log-in-btn-color: #3899ec;
  --reg-font-size-const: 1.125rem;
}

a {
   color: var(--link--sign-up-page--text-color);
   text-decoration: none;
 }

.log-in-page--container {
  display: block;
  text-align: center;
  font-size: 2.2rem;
}

.log-in-page--header--title {
  padding-top: 6.25rem;
}

.log-in-page--header--registration-paragraph {
  font-size: var(--reg-font-size-const);
}

.col-center {
  float: none;
  margin: 0 auto;
}

.mat-form-field {
  width: 100%;
}

.log-in-page--log-in--btn {
  width: 3.125rem;
  color: var(--log-in-btn-color);
  box-shadow: inset 0 0 0 0.0625rem var(--log-in-btn-color);
}

.mat-raised-button {
  min-width: 5.625rem;
}
