<div class="log-in-page--container">
  <h2 class="log-in-page--header--title">Log in</h2>
  <p class="log-in-page--header--registration-paragraph">New to Good summer deeds? <a routerLink="/registration">Sign up</a></p>
</div>
<div class="row">
  <div class="col-md-4 offset-md-4">
    <mat-form-field>
    <input matInput placeholder="Enter your username" [formControl]="username">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Enter your password" [type]="!hide2 ? 'password' : 'text'" [formControl]="password">
      <mat-icon matSuffix (click)="hide2 = !hide2">{{!hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
    <br>
    <div class="row">
      <button mat-raised-button class="log-in-page--log-in--btn col-md-2 col-center" (click)="loginUser()">Log in</button>
    </div>
  </div>
</div>
