::ng-deep :root {
  --register-btn-color: #3899ec;
}

mat-form-field {
  margin-right: 12px;
}

.blog-page-registration {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 400px;
  flex-direction: column;
}
.blog-registration-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 2rem;
}
.create-blog-post-btn {
  min-width: 5.625rem;
  margin-right: 1rem;
  color: var(--register-btn-color);
  box-shadow: inset 0 0 0 0.0625rem var(--register-btn-color);
}

.cancel-blog-post-btn {
  min-width: 5.625rem;
  margin-right: 1rem;
}

.blog-page--blog-post-registration {
  display: flex;
  flex-direction: column;
  min-height: 18rem;
  min-width: 30rem;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 6rem;
  justify-content: flex-end;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}
