.blog-page-card {
  max-width: 700px;
  margin-top: 8rem;
  justify-content: center;
  justify-self: center;
}

.blog-page-avatar {
  background-size: cover;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.blog-page-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blog-page-title {
  margin-top: 0.5rem;
}

.blog-page-text {
  word-wrap: normal;
  white-space: pre-wrap;
}

.blog-page-add-btn {
  color: black;
  border: none;
  font-size: var(--reg-font-size-const);
  background-color: var(--landing-page-btn-bg-color);
  border-radius: 0.375rem;
  display: flex;
  margin-top: 5rem;
  margin-left: 12rem;
}

