<button mat-raised-button class="blog-page-add-btn" (click)="addPost()">New Post</button>
<div class="blog-page-wrapper">
  <mat-card class="blog-page-card" *ngFor="let post of blogPosts">
    <mat-card-header>
      <div mat-card-avatar class="blog-page-avatar">
        <mat-icon>face</mat-icon>
      </div>
      <mat-card-title class="blog-page-title">{{post.user.username}}</mat-card-title>
      <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
    </mat-card-header>
    <img mat-card-image src={{post.imageBytes}} alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p class="blog-page-text">{{post.blogText}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="editPost(post)">EDIT</button>
      <button mat-button (click)="deletePost(post)">DELETE</button>
    </mat-card-actions>
  </mat-card>
</div>
