<div>
  <section id="section--description">
    <div class="description-container">
      <p class="description--cta-text">Nature provides us all with so many wonderful and useful things. From beautiful sights, to food & shelter, to maintaining the delicate balance necessary to sustain life on this planet. As industry advances and the human footprint spreads, the delicacy of nature balance increases more and more. As a result, it is ever-important that we do our due diligence in helping nature to thrive, however we can. That starts with taking care of the environment.
        <br>
        <br>
        <br>
        Cats and dogs depend on humans for their everyday needs – food, water, shelter, veterinary care, love and more. Yet thousands of animals have no guardian to care for them, let alone a warm, comfortable place to curl up in at night. Many suffer and die on the streets or have to be euthanised for lack of good homes. Animal homelessness is a complex crisis,but you can make it easier with your actions.
        <br>
        <br>
        <br>
        There are lots of ways you can do your bit to help lonely or socially isolated people in your community. The person you're helping will reap health benefits, and you'll find you will as well.
        Helping people to live more comfortable and happy life is a key way of helping a lonely or socially isolated  person. A simple friendly chat or phone call can make all the difference, go play a game, read a book, or help to live in clean environment.
      </p>
    </div>
    <div class="link-container">
      <a routerLink="/deeds">You can start making good deeds now</a>
    </div>
  </section>
</div>
