#description
{
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("/assets/img/bgtest.jpg");
  height: 90vh;
  background-size: cover;
  background-position: center;
  padding-top: 71px;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
}

.about-good-deeds {
  margin-top: 50px;
  color: white;
  text-align: center;
  font-size: 18px;
  padding-top: 40px;
}

.learn-more {
  color: black;
  border: none;
  padding: 15px;
  font-size: 18px;
  background-color: #CFD8DC;
  border-radius: 6px;
  margin-top: 25px;
  margin-left: 700px;
  justify-content: flex-end;
  display: flex;
  margin-bottom: 50px;
}

.learn-more:hover {
  background: #B0BEC5;
}

#statistics
{
  background: white;
  height: 100vh;
  background-size: cover;
  background-position: center;
}



