<mat-toolbar color="primary">
  <div class="logo">
    <a class="navbar-item" href="">
      <img src="assets/img/logo.png">
    </a>
  </div>
  <div>
    <a href="">Home</a>
    <a href="">Deeds</a>
    <a href="">Blog</a>
  </div>
  <span class="fill-remaining-space"></span>
  <div>
    <a href="">Log In</a>
    <a class="get-started" href="">Get Started</a>
  </div>
</mat-toolbar>
<div class="container">
  <section id="description">
    <div>
      <p class="about-good-deeds">Description about good summer deeds.</p>
    </div>
    <div>
      <button class="learn-more" (click)="scrollToStatistics()">Learn more</button>
    </div>
  </section>
  <section #statistics id="statistics">
    <div></div>
  </section>
</div>
