<div>
  <section id="section--description">
    <div>
      <p class="description--cta-text">Description about good summer deeds.</p>
    </div>
    <div>
      <button class="landing-page-btn" (click)="scrollToStatistics()">Learn more</button>
    </div>
  </section>
  <section #statistics id="section--statistics">
    <div>
      <p>There must be statistics</p>
      <button class="home-page--deeds-registration--test-btn" (click)="registerGoodDeed()">Register good deed</button>
    </div>
  </section>
</div>
